/.idea
/*.log
**/*.csv
/*.db
/prototype.py
/scraped_files/
/scraped_file/
/japan_news_scraper_gcp/
/load_file.py
/*.pbix
/*.pdf
/*.pbit
/migrate_files/
/try_gcp.py
/pipeline.py
/ja
/sqlite-jdbc-3.46.0.0.jar
/backup_news_urls/
/backup_japan_news/
/*.json

/my_schedulter.py
/scheduler.py
/new_prefect_logging.yml

**/*.log
/try_func.py
/jp-news.twb
/Common Japanese Morphemes from News.twbx
/~Common Japanese Morphemes from News__31492.twbr
/*.twbr
/visuals/
**/*.twb
**/*.twbx
/data/jp_word_data_from_news_as_of_2024-07-04.parquet
